@import "../../../../styles/variables.scss";

.afterLearnCourse {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1440px;
  color: white;
  margin-bottom: 40px;


  .imageDeveloper {
    position: absolute;
    right: 40px;
    top: 0;
  }

  .imageHourglass {
    position: absolute;
    left: 150px;
    bottom: 150px;
    fill: $pink;
  }

  .knowledgeAfterCourse {
    margin-bottom: 60px;
    z-index: 2;

    .title {
      font-size: $firstHeader;
      margin-top: 0;
      margin-bottom: 20px;
      max-width: 1000px;
      font-weight: 500;
    }

    .knowledgeList {
      margin: 0;
      margin-left: 40px;
      padding: 0;

      .knowledgeItem {
        font-size: $firstDescription;
        margin-bottom: 15px;
      }
    }
  }

  .salaryAfterCourse {
    z-index: 2;
    padding-bottom: 40px;

    .title {
      font-size: $firstHeader;
      margin-top: 0;
      margin-bottom: 20px;
      max-width: 900px;
      font-weight: 500;
    }

    .salaryText {
      font-size: $firstDescription;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;

      >span {
        width: 274px;
        font-size: $firstHeader;
        margin-left: 15px;
        color: #8b4dff;
        font-weight: 500;
      }
    }

    .rangeSlider {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .junLvlText {
        display: block;
        position: absolute;
        font-size: 32px;
        top: -70px;
        left: 10%;
        transform: translate(-50%, 0);
      }

      .midLvlText {
        display: block;
        position: absolute;
        font-size: 32px;
        top: -70px;
        left: 44.7%;
        transform: translate(-50%, 0);
      }

      .senLvlText {
        display: block;
        position: absolute;
        font-size: 32px;
        top: -70px;
        left: 89.8%;
        transform: translate(-50%, 0);
      }
    }
  }
}

@media (max-width: $tabletWidth) {
  .afterLearnCourse {
    flex-direction: column;
    max-width: 800px;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;

    .imageDeveloper {
      top: 80px;
      width: 170px;
      height: 212px;
    }

    .imageHourglass {
      left: 50px;
      bottom: 250px;
      width: 120px;
      height: 190px;
    }

    .salaryAfterCourse {
      .salaryText {
        font-size: $secondDescription;

        >span {
          width: 175px;
          font-size: $secondHeader;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .afterLearnCourse {
    .imageDeveloper {
      top: 80px;
      width: 120px;
      height: 150px;
    }

    .imageHourglass {
      display: none;
    }

    .knowledgeAfterCourse {
      margin-bottom: 20px;

      .title {
        font-size: $firstHeaderMobile;
      }

      .knowledgeList {
        padding: 0;
        margin: 0;

        .knowledgeItem {
          list-style: none;
          font-size: $firstDescriptionMobile;
          background-color: black;
          padding: 10px 6px;
          border-radius: 10px;
          text-align: center;
          color: $pink;
        }
      }
    }

    .salaryAfterCourse {
      .title {
        font-size: $firstHeaderMobile;
      }

      .salaryText {
        font-size: $firstDescriptionMobile;

        >span {
          font-size: $firstHeaderMobile;
          width: 120px;
        }
      }

      .rangeSlider {
        .junLvlText {
          font-size: $firstDescription;
        }

        .midLvlText {
          font-size: $firstDescription;
        }

        .senLvlText {
          font-size: $firstDescription;
        }
      }
    }
  }
}


@media (max-width: $mobileOnlyWidth) {
  .afterLearnCourse {
    width: 380px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
