@import "../../../../styles/variables.scss";

.logo {
  display: flex;
  align-items: center;
  column-gap: 15px;
  transition: 0.3s;

  &:hover {
    > svg {
      fill: $violet;
    }

    > span {
      color: $violet
    }
  }

  > svg {
    fill: $pink;
    transition: 0.3s;
  }

  > span {
    color: $pink;
    font-size: $firstHeader;
    font-weight: 600;
    transition: 0.3s;
  }
}

@media (max-width: 600px) {
  .logo {
    > svg {
      width: 100px;
      height: 100px;
    }

    > span {
      display: none;
    }
  }
}
