@import "../../../../styles/variables.scss";

.presentCourse {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1440px;
  color: white;
  margin-bottom: 50px;

  .infoCourse {
    display: flex;
    flex-direction: column;
    z-index: 2;

    > a {
      margin-top: auto;
    }
  }

  .title {
    font-size: $firstHeader;
    margin-top: 0;
    margin-bottom: 20px;
    color: $violet;
    max-width: 690px;
  }

  .description {
    font-size: $firstDescription;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    max-width: 650px;
  }

  .btn {
    width: 280px;
    height: 66px;
    font-size: $secondDescription;
  }

  .img {
    border-radius: 10px;
  }
}

@media (max-width: $tabletWidth) {
  .presentCourse {
    flex-direction: column-reverse;
    max-width: 800px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 180px;

    .img {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 600px) {
  .presentCourse {
    padding-top: 140px;

    .title {
      font-size: $firstHeaderMobile;
    }

    .description {
      font-size: $firstDescriptionMobile;
    }

    .btn {
      width: 100%;
    }
  }
}


@media (max-width: $mobileOnlyWidth) {
  .presentCourse {
    width: 380px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
