@import "../../../../../styles/variables.scss";

.questionItem {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 40px;
  height: 55px;
  padding: 2px 0;
  background-color: #292727;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

  &:last-child {
    margin-right: 0;
  }
}

.active {
  background: $violet;

  .questionNumber {
    transform: translateY(-26px);
    background: black;
  }
}

.choose {
  background: $pink;

  .questionNumber {
    transform: translateY(-26px);
    background: black;
  }
}

.questionNumber {
  display: block;
  width: 38px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid $black;
  transition: 0.3s;
}

.questionItemCurrent {
  background-color: $pink;
  font-weight: bold;
}

.questionItemComplete {
  background-color: $violet;
  border-color: $violet;
}


@media (max-width: 600px) {
  .questionItem {
    width: 60px;
    height: 70px;
    padding: 4px 0;

    .questionNumber {
      width: 58px;
      font-size: 26px;
    }
  }

  .active {
    background: $violet;

    .questionNumber {
      transform: translateY(-28px);
      background: black;
    }
  }

  .choose {
    background: $pink;

    .questionNumber {
      transform: translateY(-28px);
      background: black;
    }
  }
}
