@import "../../../../styles/variables.scss";

.ourProgram {
  position: relative;
  display: grid;
  grid-template-columns: 600px 1fr;
  column-gap: 30px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1440px;

  .contentContainer {
    display: flex;
    flex-direction: column;

    .title {
      font-size: $firstHeader;
      margin-top: 0;
      margin-bottom: 20px;
      max-width: 1000px;
    }

    .description {
      font-size: $firstDescription;
      margin-top: 0;
      margin-bottom: 20px;
      max-width: 650px;
    }

    .btn {
      width: 280px;
      height: 66px;
      font-size: $secondDescription;
    }
  }

  .moreAboutProgram {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.3s;
  }

  .accordionProgram {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    transition: 0.3s;

    .list {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      padding-left: 20px;
      row-gap: 10px;

      .item {

      }
    }
  }

  .accordionProgramActive {
    visibility: visible;
    opacity: 1;
  }

  .spinnerProgram {
    width: 350px;
    height: 350px;

    @media (max-width: $tabletWidth) {
      display: none;
    }
  }
}

@media (max-width: 1150px) {
  .ourProgram {
    grid-template-columns: 520px 1fr;
  }
}

@media (max-width: $tabletWidth) {
  .ourProgram {
    grid-template-columns: 1fr;
    row-gap: 30px;
    margin-bottom: 30px;


    .spinnerProgram {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .ourProgram {
    .contentContainer {
      .title {
        font-size: $firstHeaderMobile;
      }

      .description {
        font-size: $firstDescriptionMobile;
      }

      .btn {
        width: 100%;
      }
    }
  }
}

@media (max-width: $mobileOnlyWidth) {
  .ourProgram {
    width: 380px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
