@import "../../../styles/variables.scss";

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  padding-top: 10px;
  max-width: 1440px;
  color: white;

  @media (max-width: $tabletWidth) {
    max-width: 800px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    position: fixed;
    z-index: 200;
    background-color: $blackBackground;
    top: 0;
    left: 0;
    right: 0;
  }
}
