@import "../../../../styles/variables.scss";

.container {
  width: 100%;
  background-color: white;
  padding-bottom: 40px;

  @media (max-width: 380px) {
    width: 380px;
  }

  .paymentCourse {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    max-width: 1440px;

    .title {
      font-size: $firstHeader;
      margin-top: 0;
      margin-bottom: 20px;
    }

    .containerPrice {
      position: relative;

      .price {
        display: inline-block;
        font-size: 250px;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 50px;
        width: 540px;
      }

      .clarification {
        font-size: $firstHeader;
      }

      .priceNoDiscount {
        display: block;
        position: absolute;
        font-size: $firstHeader;
        font-weight: 900;
        top: 50px;
        left: 670px;

        &::before {
          content: "";
          width: 100%;
          height: 6px;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%) rotate(-15deg);
          background-color: $red;

          @media (max-width: 800px) {
            height: 4px;
          }
        }
      }
    }

    .btn {
      width: 280px;
      height: 66px;
      font-size: $secondDescription;
      margin-top: 30px;
    }
  }
}

@media (max-width: $tabletWidth) {
  .container {
    .paymentCourse {
      padding-top: 30px;

      .containerPrice {
        .price {
          font-size: 150px;
          width: 290px;
        }

        .clarification {
          font-size: $secondHeader;
        }

        .priceNoDiscount {
          font-size: $secondHeader;
          left: 400px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    .paymentCourse {
      .title {
        font-size: $firstHeaderMobile;
      }

      .btn {
        width: 100%;
      }

      .containerPrice {
        .price {
          font-size: 110px;
          width: 210px;
          margin-left: 20px;
        }

        .clarification {
          font-size: $firstHeaderMobile;
        }

        .priceNoDiscount {
          font-size: $firstHeaderMobile;
          left: 276px;
        }
      }
    }
  }
}

@media (max-width: $mobileOnlyWidth) {
  .container {
    .paymentCourse {
      width: 380px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
